
.link, .act {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    margin-left: 30px;
    text-decoration: none;
}
.act {
    text-decoration: underline !important;
}